
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    background-color: hsl(0, 0%, 98%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    justify-content: center;
    gap: calc(1rem + 1vw);
}   
.headings-container{
    padding: 10px;
    text-align: center;
    font-family: var(--poppins);
    color: hsl(234, 12%, 34%);
    max-height: calc(50rem + 1vw);
    max-width: calc(50rem + 1vw)
}
.top-heading{
font-weight: 400;
font-size: calc(1rem + 1vw);
color: hsl(229, 6%, 66%);
}
.middle-bold-heading{
    font-size: calc(2rem + 1vw);
}
.bottom-heading{
    font-weight: 400;
    font-size: calc(0.5rem + 1vw);
    color: hsl(229, 6%, 66%);;
}
:root{
    --poppins:"Poppins", sans-serif;
    --heading:600;
    --para:200;
}
.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(1rem + 1vw);
}
.card{
    padding: calc(1rem + 1vw);
    background-color:white ;
    border-radius: calc(0.3rem + 1vw);
    box-shadow: 3px 3px 10px hsl(234, 12%, 34%);
    border-style: solid;
    font-family: var(--poppins);
    display: flex;
    flex-direction: column;
    max-width:600px;
    max-height: 600px;    
}
.card1{
    border :none;
    border-top: calc(0.2rem + 1vw) solid hsl(180, 62%, 55%) ;
}
.card-heading{
    font-size: calc(1rem + 1vw);
    margin-top: calc(1rem + 1vw);
    columns: hsl(234, 12%, 34%);
    }
.card-bio{
    font-size: calc(0.5rem + 1vw);
    margin-top: calc(1rem + 1vw);
    color:  hsl(229, 6%, 66%);
}
.card-img{
    width: calc(5rem + 1vw) ;
    height: calc(5rem + 1vw);
    margin-top: calc(1rem + 1vw);
    align-self: flex-end;
}
.card2{
    border :none;
    border-top: calc(0.2rem + 1vw) solid hsl(0, 78%, 62%);

}
.card3{
    border: none;
    border-top: calc(0.2rem + 1vw) solid  hsl(34, 97%, 64%);
}
.card4{
    border: none;
    border-top: calc(0.2rem + 1vw) solid   hsl(212, 86%, 64%);
}
@media screen and (max-width:767px) {
    /* .card{
        width: calc(25rem + 1vw);
        height: calc(25rem + 1vw);
    } */
    .cards-container{
        flex-wrap: nowrap;
    }
    .desktop-view{
        display: none;
    }
    .cards2,.card3{
        display: block;
    }
}
@media screen and (min-width:769px){
    .desktop-view{
        display: flex;
        flex-direction: column;
        gap: calc(1rem + 1vw);
    }
    .cards-container{
        flex-direction: row;   
        justify-content: center;
        align-items: center;
    }
    .card2,.card3{
        display: none;
    }
    .card-esk{
        display: block;
    }
}